@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

.conversation .avator.online:before,
.conversation .avator.offline:before {
    width: 8px;
    height: 8px;
    top: 1%;
    right: 1%;
}
